.top {
    background-image: url(images/two-hands-exchanging-item-symbolizing-help-support-closeup-hands-warm-clothing-autumn-background-generosity-care-giving-assistance-generative-by-ai_855332-9372.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 80px 120px 80px 120px;

}

.body {
    margin: 0%;
}

.color {
    color: rgb(255, 255, 255);

}

#opac {
    color: aliceblue;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 50px;

}

body {
    font-family: "Poppins", sans-serif;
    text-align: center;
    margin: 70px 90px 70px 90px;

}

h1 {
    font-size: 50px;
}

.button {
    text-decoration: none;
    background-color: tomato;
    font-weight: 600;
    color: white;
    padding: 10px 30px;
    border-radius: 5%;


}

.divi {
    border-top: 2px solid rgb(150, 150, 150);
    margin-bottom: 50px;
    margin-left: 190px;
    margin-right: 190px;
}

.border {
    color: tomato;
    border: 5px solid tomato;
    padding: 30px;
    border-width: 3px;
    margin-left: 20px;

}

#opacity2 {
    margin-bottom: 40px;
}


.opacity1 {
    color: rgb(102, 104, 106);
    margin-left: 150px;
    margin-right: 150px;
}



#opacity {
    margin-top: 40px;
    margin-bottom: 40px;
    color: rgb(120, 135, 135);

}

h2 {
    display: inline-block;
    margin: 20px;
    color: rgb(78, 74, 74);
}

.plan {
    margin: 90px;
}

.flex {
    display: flex;

}

.first {
    background-color: antiquewhite;
    text-align: left;
    border: 1px solid white;
    margin-left: 150px;
    margin-right: 10px;
    border-radius: 10px;
    padding-left: 20px;
    padding-top: 15px;
    width: 500px;
    height: 350px;

}

.second {
    background-color: rgb(223, 217, 208);
    text-align: left;
    padding-left: 20px;
    padding-top: 15px;
    width: 500px;
    border: 1px solid white;
    border-radius: 10px;
    margin-right: 10px;
}

.third {
    background-color: rgb(200, 200, 200);
    text-align: left;
    border: 1px solid white;
    padding-left: 20px;
    padding-top: 15px;
    width: 500px;
    border-radius: 10px;
    margin-right: 150px;
}



.flexx {
    display: flex;
    margin-right: 170px;
}

#pad {
    margin-bottom: 40px;
}

.how-to {
    width: 50%;
    text-align: left;
    margin-top: 50px;
    margin-left: 170px;
    margin-right: 110px;

}



#idd {
    margin-bottom: 40px;
}

.need {
    display: flex;
    margin-top: 150px;
    margin-left: 70px;

}

.imag {
    margin-left: 100px;
}

.how {
    margin-right: 190px;
    text-align: justify;
    margin-left: 60px;
}

#op {
    margin-bottom: 50px;
}

.depend {
    padding-right: 100px;
    margin-bottom: 50px;
}

.pic {

    margin-top: 160px;


}

#background {
    background-color: rgb(200, 232, 245);
    border: 0px;
    padding: 15px 70px 15px 70px;
    color: rgb(93, 91, 91);

}

#backk {
    background-color: tomato;
    border: 0px;
    color: white;
    padding: 15px 50px 15px 50px;
}

.last {
    margin-top: 90px;

}

.marg {
    margin-bottom: 80px;
}

.email-back {
    background-color: rgba(222, 184, 135, 0.334);
    margin-left: 200px;
    margin-right: 200px;
    padding-top: 70px;
    padding-bottom: 70px;
}

footer {
    background-color: black;
    padding: 10px 100px 10px 100px;
    margin-top: 80px;
}

.humble {
    color: rgb(205, 35, 6);
    font-family: "Grey Qo", cursive;
}

.foot {
    font-size: small;
    color: teal;
}