body {
    font-family: "Poppins", sans-serif;
    text-align: center;
    margin: 70px 70px 70px 70px;
}

h1 {
    font-size: 50px;
}

.button {
    text-decoration: none;
    background-image: linear-gradient(tomato, orange);
    font-weight: 600;
    color: white;
    padding: 10px 30px;
    border-radius: 5%;
}